nav {
  background-color: green;
  padding: .25rem;
}

body {
  float: left;
  width: 98%;
}

body section {
  width: 50%;
  float: left;
}

nav li{
  display: inline;
}

.page-options {
  text-align: right;
}

footer {
  background-color: lightblue;
  padding: .25rem;
}

footer li {
  display: inline;
}

#create-player {
  width: 50%;
  background-color: pink;
  font-size: 1.25rem;
}

.create-player-form {
  width: 46%;
  float: left;
  text-align: center;
  background-color: teal;
  margin: 2%;
}


#player-list {
  width: 50%;
  float: right;
  background-color: gray;
}
