nav {
  background-color: green;
  padding: .25rem;
}

body {
  width: 98%;
  min-height:100%;
}

nav li{
  display: inline;
}

.page-options {
  text-align: right;
}

#create {
  font-size: 1.25rem;
}

.create-player-form {
  width: 46%;
  float: left;
  text-align: center;
  background-color: teal;
  margin: 2%;
}

.create-court-form {
  width: 46%;
  float: left;
  text-align: center;
  background-color: pink;
  margin: 2%;
}
