nav {
  background-color: green;
  padding: .25rem;
}

body {
  width: 98%;
  min-height:100%;
}

nav li{
  display: inline;
}

.page-options {
  text-align: right;
}

.main {
  font-size: 1.25rem;
}

.form {
  width: 46%;
  text-align: center;
  margin: 2%;
  background-color: teal;
  float: left;
}

.content {
  background-color: gray;
  text-align: center;
  margin: 2%;
  width: 46%;
  float: right;
}
